@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans&family=Jost:wght@700&family=Libre+Baskerville:wght@700&family=Poppins:wght@100;500;700&family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px 40px;
            background-color: #11141a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            border-bottom: 2px solid red;
}

nav a {
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            margin-left: 35px;
            transition: .3s;
}

nav a:hover {
                color: red;
}
                
section {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1f242d;
}

section:nth-child(odd) {
                            background: #323946;
}


  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin: 115px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  

  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin: 115px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }


  .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin: 115px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } 
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  
  button:hover {
    color: red;
  }


  

  footer .foot {
    position: fixed;
    left: 0;
    height: 40px;
    padding: 5px 40px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-top: 2px solid red;
 }

