@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Josefin+Sans&family=Jost:wght@700&family=Libre+Baskerville:wght@700&family=Poppins:wght@100;500;700&family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a, a:hover{
    text-decoration: none;
 }
 
 nav{
    background-color: rgb(27, 26, 26);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid red;
    
 }
 
 nav a{
        color: white;
        font-size: 20px;
        font-weight: 500;
 }
 
 nav a:hover{
                color: red; 
 }
 
 .logo{
        flex: 1;
 }
 
 .logo a{
            display: flex;
            align-items: center;
            font-size: 20px;
 }
 
 .menu{
            display: flex;
            align-items: center;
            list-style: none;
 }
 
 .menu li{
                padding: 15px 20px;
                font-size: 20px;
 }
 
 .banner{
    position: absolute;
    width: 100%;
    min-height: 90.2vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 .banner .sixty{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .content{
    position: absolute;
}

.movietitle{
    max-width: 600px;
   }

.banner .content h4{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
}

.banner .content h4 span{
          padding: 0 10px;
          border-right: 1px solid green;
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 span i{
background: rgb(247, 19, 19);
color: white;
padding: 0 8px;
display: inline-block;
font-style: normal;
border-radius: 5px;
}

.banner .content p{
font-size: 1em;
font-size: 16px;
line-height: 1.5em;
color: white;
margin: 10px 0 20px;
padding: 5px;
}

.banner .content .button a{
background-color: rgb(247, 19, 19); 
border: none;
color: white;
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 5px;
}



